/* ==================== 페이지 전체 ==================== */

/* 웹폰트 불러오기 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


/* 사용자 지정 색상 */
:root {
  --main-intro-bg-color: #F2E9D8;
  --orange-text-color: #D97652;
  --gray-text--color: #767676;
  --subscribe-box-color: #263140;
}

body, button {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
/* ==================== < Header > ==================== */
/* ==================== < Main-Section > ==================== */
/* ==================== < Section > ==================== */
/* ==================== < Footer > ==================== */