/* 웹폰트 불러오기 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: local('Spoqa Han Sans Neo Bold'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: local('Spoqa Han Sans Neo Regular'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}


/* 사용자 지정 색상 */
:root {
  --main_intro_bg_color: #F2E9D8;
  --light_orange_color: #F29D52;
  --dark_orange_color: #D97652;
  --gray_color: #767676;
  --darkblue_color: #263140;
}
body {
  position: relative;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  background-color: #FFF;
}
.screen_reader_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}



h1, h2, p, a, ul, li, button {
  word-break: keep-all;
  overflow-wrap: break-word;
}

h2 {
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

header, .main_intro, .downside_cat_image {
  background-color: var(--main_intro_bg_color);
}

.orange_button {
  background-color: var(--dark_orange_color);
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  padding: 15px 30px;
}

.main_image_shadow {
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
}
.orange_high_light_text {
  color: var(--dark_orange_color);
  font-weight: 700;
}

.container_box {
  margin-left: 320px;
  margin-right: 320px;
  max-width: calc(1280px);
  margin: auto;
  padding: 0 20px;
}



header {
  width: 100%;
  background-color: var(--main_intro_bg_color);
  position: sticky;
  top: 0; 
  z-index: 1;
}
header > .container_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
header .top_logo_image a {
  display: block;
}
header .top_logo_image img {
  width: 130px;
}
header nav {
  display: flex;
  align-items: center;
}
header .top_navigation_list {
  display: flex;
  justify-content: space-between;
  width: 214px;
}
header .orange_button {
  margin-left: 40px;
}



main .main_intro .container_box{
  display: flex;
  justify-content: space-between;
}
main .main_intro_paragraph_wrapper {
  margin-top: 200px;
}
main .main_intro_paragraph_wrapper > .main_intro_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
main .main_intro_paragraph_wrapper > .main_intro_text {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
main .main_intro_paragraph_wrapper > .orange_button {
  margin-top: 40px;
}
main .main_intro_image {
  width: 415px;
  height: 890px;
}
main .main_intro_image > img {
  display: block;
}



main .main_content > .container_box > .main_content_one {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
main .main_content > .container_box > .main_content_one > .main_picture_one_wrapper > img {
  width: 660px;
  height: 390px;
  border-radius: 30px;
  background-image: url(../image/main-hodu-cat.jpg) no-repeat center;
  background-size: 100%;
  object-fit: cover;
}
main .main_content > .container_box > .main_content_one .main_content_wrapper {
  margin-left: 110px;
}
main .main_content > .container_box > .main_content_one .main_content_wrapper > .main_content_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}
main .main_content > .container_box > .main_content_one .main_content_wrapper > .main_content_text {
  margin-top: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}



main .main_content .main_content_two {
  margin-top: 120px;
}
main .main_content .main_content_two > .main_content_title_two {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #D97652;
}
main .main_content .main_content_two > p {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
main .main_content .main_content_two .main_image_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
}
main .main_content .main_content_two .main_image_wrapper > img {
  width: 378px;
  height: 378px;
  gap: 72px;
  min-width: 378px;
  min-height: 378px;
  border-radius: 30px;
  background-size: 100%;
}


main .main_content .main_content_three {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 196px;
}
main .main_content .main_content_three > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
main .main_content .main_content_three > .orange_button {
  margin-left: 52px;
}


.subscribe_bar {
  max-width: 1280px;
  padding: 50px 58px;
  border-radius: 30px;
  background-color: var(--darkblue_color);
  transform: translateY(50%);
  box-sizing: border-box;
  margin: 0 auto;
}
.subscribe_bar > .container_box > .subscribe_blog_post_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subscribe_barr > .container_box > .subscribe_blog_post_box .post_text {
  margin-right: 58px;
}
.subscribe_bar h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
}
.subscribe_bar p {
  margin-top: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #F2E9D8;
}
.subscribe_bar .subscribe_email_input_wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #fff;
  border-radius: 60px;
  padding-right: 5px;
}
.subscribe_bar .subscribe_email_input_wrapper > img {
  padding: 0 28px;
  width: 24px;
  height: 24px;
}
.subscribe_bar .subscribe_email_input_wrapper > #open-modal {
  max-width: 1280px;
  height: 100%;
}


/* downside */
.downside_cat_image > img {
  width: 100%;
  background: url(../image/img_1.jpg) no-repeat center;
}


/* ==================== < Footer > ==================== */
footer {
  width: 100%;
  height: 160px;
}
footer > .container_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
  background-color: #fff;
}
footer > .container_box > .down_logo_image {
  width: 226px;
  height: 70px;
}
footer > .container_box > .down_logo_image > a {
  display: block;
}

footer > .container_box > .social_logo_container {
  display: flex;
  align-items: center;
}
footer > .container_box > .social_logo_container > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  background-color: var(--light_orange_color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
footer > .container_box > .social_logo_container > .social_logo_margin {
  margin-right: 20px;
}


.top_up_button {
  width: 50px;
  height: 50px;
  background: url(../image/scroll_top_up_botton.png) no-repeat center;
  padding: 0;
  background-color: #FFF;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1;
}
.top_up_button:hover {
  background: url(../image/scroll_arrow_up.svg) no-repeat center;
  background-color: #FFF;
}